@import '~antd/dist/antd.dark.css';

:root{
    --text-primary:#000;
    --bgPrimary:#fff;
   --bgSecondary: #F9F9F9;
   --pink: #0071bd;
   --light-blue: #e6f7ff;
   --border: #d9d9d9;
}

.ant-layout-sider-zero-width-trigger{
    top:25px !important;
}
.ant-layout-sider{
    z-index: 1;
}
.crypto-card-container{
    min-height: 65vh !important;
}
.crypto-card{
    min-width: 250px;
}
.crypto-card .crypto-image{
    width:35px;
    height:35px;
}
.search-crypto{
    margin: 1rem auto 2rem;
    width: 250px;
}
.select-news{
    width: 180px;
}
.news-card{
    min-height: 350px !important;

}
.news-image-container{
    display: flex !important;
    justify-content: space-between !important;
}

.news-title{
width: 70%;
}
.news-image-container .img{
    width:100px;
    height:100px;
}
.news-card p{
    margin: 10px 0px !important;
}
.provider-container{
    display: flex;
    justify-content: space-between;
}
.provider-name{
    margin-left: 10px;
}
/* coin details*/
.coin-stats{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
    font-size: 1rem;
    opacity: 0.9;
    padding: 20px;
}
.coin-stats-name{
    display: flex;
    gap: 10px;
    font-size: 1rem;
}

.link-name{
    text-transform: capitalize;
    font-size: 1rem;
}

.chart-header{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    color: #0071bd;
}
.chart-title{
    color: #0071bd !important;
}
.price-container{
    display: flex !important;
    gap: 20px !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}
.price-change{
    font-weight: 900 !important;
}
.current-price{
    margin-top: 0px !important;
    font-weight: 900 !important;
}
.crypto-details{
    margin: 2rem 0px !important;
}


@media only screen and (min-width: 1020px) {
   .mar{
       margin-left:12.5rem;
    }
}
@media screen and (max-width:800px){
    .home-title{
        font-size: 1.4rem !important;
    }
    .show-more{
        font-size: 1rem !important;
    }
    .csstitle{
        background-color:'red' !important;
    }
}